/*-------------------------------- Configuraciones generales ---------------------------------------------------------*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    position: relative;
    background-color: #FDEBD0;
}

h1{
    font-size: 5rem;
    margin-top: 2rem;
}

h2{
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: 5rem 0;
}
h3{
    font-size: 3rem;
}

main section:first-of-type h2{
    text-align: left;
}

main section:last-of-type h2{
    margin-bottom: 2rem;
}

p{
    font-size: 1.8rem;
    line-height: 2;
}

[class$="_contenedor"]{
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

/* a{
    text-decoration: none;
} */

img {
    display: block;
    border-radius: 5%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

ul{
    padding: 0;
    margin: 0 0 0 3rem;
}

li{
    margin: 0.5rem 0;
    font-size: 1.8rem;
}

textarea{
    resize: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #58D68D;
    padding-top: 5rem;
}

header div{
    width: 100%;
    text-align: right;
}

header div p{
    margin: 2rem 3rem;
}

footer{
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenTexto{
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
}

.parrafos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center{
    text-align: center;
}

.contenidoCentrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
